<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<h1 class="text-center">Asistente virtual universitario</h1>
<div class="row">

<div class="col-md-6 cajita">
    <chat-dialog></chat-dialog>
</div>

<div class="col-md-6">
    <div class="container col-md-6">
        <label for="nameField">Tu pregunta</label>
        <input class="form-control"
         [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
         <br/>
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
        <br/>
        <br/>
        <button class=" btn btn-danger" (click)="Activar(true)"><span>
            <i class="fas fa-microphone"></i>
        </span></button>
        </div>
</div>
        
</div>


</div>
